문자열 타입 변수 선언 방법

In [28]:
#문자열(string) 타입 변수는 홑 따옴표(single quote)로 묶거나
monty = 'Monty Python'

In [31]:
monty = "Monty Python" #쌍 따옴표(double quote)로 묶으면 됨
type(monty)

str

In [35]:
#문자열 안에 소유 기호(apostrophe)를 포함해야 할 경우 해당 문자열은 쌍 따옴표로 묶어야 함.
circus = "Monty Python's Flying Circus"
circus

"Monty Python's Flying Circus"

In [37]:
#문자열 안에 소유 기호(apostrophe)를 사용할 경우 escape char(\)를 사용해 구분하면 홑 따옴표로 묶어도 됨
circus = 'Monty Python\'s Flying Circus'
circus

"Monty Python's Flying Circus"

2개 문자열은 결합 기호(+, concatenation)를 사용하여 하나의 문자열로 합칠 수 있음. 또는 backslash('\\')나 괄호를 사용하여 합칠 수 있음.

In [48]:
couplet =  "Shall I compare thee to a Summer's day?" + "Thou are more lovely and more temperate:"
couplet

"Shall I compare thee to a Summer's day?Thou are more lovely and more temperate:"

In [53]:
couplet = "Shall I compare thee to a Summer's day?"\
           "Thou are more lovely and more temperate:"
couplet

"Shall I compare thee to a Summer's day?Thou are more lovely and more temperate:"

In [54]:
type(couplet)

str

In [56]:
couplet = ("Rough winds do shake the darling buds of May,"
           "And Summer's lease hath all too short a date:")
couplet

"Rough winds do shake the darling buds of May,And Summer's lease hath all too short a date:"

줄 바꿈(newline)을 추가하려면, triple quoted string 표현을 사용

In [57]:
couplet = """
Shall I compare thee to a Summer's day?
Thou are more lovely and more temperate:
 """

In [58]:
print(couplet)

Shall I compare thee to a Summer's day?
Thou are more lovely and more temperate:

In [59]:
couplet = '''
Rough winds do shake the darling buds of May,
And Summer's lease hath all too short a date:
'''

In [60]:
print(couplet)

Rough winds do shake the darling buds of May,
And Summer's lease hath all too short a date:

python에서 list는 square bracket를 사용하여 표현

In [61]:
ex1 = ['A','closer','look','at','Python']
ex1

['A', 'closer', 'look', 'at', 'Python']

In [69]:
sentence = 'Texts as List of Words'
sentence

'Texts as List of Words'

In [70]:
print(type(ex1), type(sentence))

<class 'list'> <class 'str'>

join 함수는 리스트의 원소(타입은 str)를 전달받아, delimiter를 사용하여 원소들을 모두 연결(concatenate)해서 하나의 str 객체를 만들어서 반환. 마지막 원소는 delimiter가 포함되지 않음.

In [67]:
ex1join = ';'.join(ex1)

In [68]:
print(type(ex1join), '=', ex1join)

<class 'str'> = A;closer;look;at;Python

join함수와 반대되는 기능이 split 함수. str 객체를 전달받아 delimiter에서 정의한 기호를 기준으로 여러 개의 str객체로 쪼개, 이들 str객체로 이루어진 list를 반환

In [71]:
wordlist = sentence.split(' ')

In [72]:
print(type(wordlist), "=", wordlist)

<class 'list'> = ['Texts', 'as', 'List', 'of', 'Words']

In [87]:
from nltk.book import *

In [88]:
sents()

sent1: Call me Ishmael . Some
sent2: The family of Dashwood had long been settled in Sussex .
sent3: In the beginning God created the heaven and the earth .
sent4: Fellow - Citizens of the Senate and of the House of Representatives :
sent5: I have a problem with people PMing me to lol JOIN
sent6: SCENE 1 : [ wind ] [ clop clop clop ] KING ARTHUR : Whoa there !
sent7: Pierre Vinken , 61 years old , will join the board as a nonexecutive director Nov. 29 .
sent8: 25 SEXY MALE , seeks attrac older single lady , for discreet encounters .
sent9: THE suburb of Saffron Park lay on the sunset side of London , as red and ragged as a cloud of sunset .

In [92]:
sent1

['Call', 'me', 'Ishmael', '.']

문자열 연산 : concatenation(+), append, multiplication(*)

In [80]:
sent1 + sent2

['Call',
 'me',
 'Ishmael',
 '.',
 'The',
 'family',
 'of',
 'Dashwood',
 'had',
 'long',
 'been',
 'settled',
 'in',
 'Sussex',
 '.']

In [125]:
sent1.append("Some")
sent1

#del sent1[-1]
#sent1

['Call', 'me', 'Ishmael', '.', 'Some']

In [94]:
ex2 = 'python'+'python'+'python'
ex2

'pythonpythonpython'

In [95]:
ex3 = 'python'*3
ex3

'pythonpythonpython'

문자열에서 문자 및 부분 문자열(substring) 추출

In [96]:
str = 'Python NLTK'

In [97]:
str[1]

'y'

In [98]:
str[-3]

'L'

In [99]:
str2 = 'NLTK Dolly Python'
len(str2)

17

In [100]:
str2[:4]

'NLTK'

In [101]:
str2[11:]

'Python'

In [113]:
str2[5:10]
#ref = len('NLTK')+1
#offset = ref+len('Python')-1
#str2[ref:offset]

'Dolly'

In [114]:
str2[-12:-7]
#last = len(str2)
#ref = (len('Python')-1)-last
#offset = ref+len('Dolly')
#str2[ref:offset]

'Dolly'

Quiz :다음 문장의 실행 결과는?

In [130]:
query = 'Who knows?'
beatles = ['John', 'Paul', 'George', 'Ringo']

In [117]:
#query[2]
#query[:2]
query + " I don't know"

"Who knows? I don't know"

In [72]:
#beatles[2]
#beatles[:2]

In [145]:
#beatles += ['Brian']
#beatles.append('Brian')
del beatles[-1]
beatles

['John', 'Paul', 'George', 'Ringo']

In [127]:
beatles.append('Ringo')

In [128]:
beatles

['John', 'Paul', 'George', 'Ringo']