# 유용한 함수들: enumerate, sorted, zip, reversed, list notation

1. enumerate

In [1]:
my_list = ['python', 'numpy', 'pandas', 'matplotlib']

In [2]:
for index, name in enumerate(my_list):
    print('번호={0}, 이름={1}'.format(index, name))

번호=0, 이름=python
번호=1, 이름=numpy
번호=2, 이름=pandas
번호=3, 이름=matplotlib

In [4]:
my_dict = {}
for key, value in enumerate(my_list):
    my_dict[key] = value

In [5]:
my_dict

{0: 'python', 1: 'numpy', 2: 'pandas', 3: 'matplotlib'}

2. sorted : sort와 사용 방식이 다름.

In [11]:
lis = [9, 5, 1, 4, 2, 8, 6, 3, 7]

In [10]:
#lis.sort()
#lis

In [12]:
sorted(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
lis2 = 'hello world'
sorted(lis2)

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

3. zip

In [14]:
lis3 = ['no.3', 'no.2', 'no.1', 'no.4']
lis4 = ['KIM', 'CHOI', 'PARK', 'LEE']

In [29]:
new_list = zip(sorted(lis3), sorted(lis4))
zipped = list(new_list)

In [30]:
for i, (a, b) in enumerate(zipped):
    print('{0}: {1}\t = {2}'.format(i, a, b))

0: no.1	 = CHOI
1: no.2	 = KIM
2: no.3	 = LEE
3: no.4	 = PARK

압축(zip)된 리스트를 풀 때는 리스트 이름 앞에 *(asterisk)를 붙임. 압축한 원소 개수만큼 돌려받기 위한 변수들을 선언.

In [31]:
rank, last_name = zip(*zipped)

In [32]:
rank

('no.1', 'no.2', 'no.3', 'no.4')

In [33]:
last_name

('CHOI', 'KIM', 'LEE', 'PARK')

압축(zip)할 때 2개 리스트의 원소 개수가 맞지 않으면, 작은 쪽을 기준으로 맞춤.

In [18]:
lis5 = [True, False]
another_list = zip(sorted(lis3), lis5)

In [19]:
list(another_list)

[('no.1', True), ('no.2', False)]

4. reversed

In [40]:
lis6 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#lis6 = range(10)

In [41]:
list(reversed(lis6))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

5. list notation - 가장 단순하게 리스트를 만드는 방법

In [69]:
name_list = ['PARK', 'KIM', 'LEE', 'HONG', 'CHOI', 'RYU']

In [70]:
[s.lower() for s in name_list if len(s)==3 ]

['kim', 'lee', 'ryu']

In [71]:
length = [len(x) for x in name_list]
#length = {len(x) for x in name_list}
length

[4, 3, 3, 4, 4, 3]

In [72]:
list(map(len, name_list))
#set(map(len, name_list))

[4, 3, 3, 4, 4, 3]

In [73]:
my_dic = {v:i for i, v in enumerate(name_list)}
my_dic

{'PARK': 0, 'KIM': 1, 'LEE': 2, 'HONG': 3, 'CHOI': 4, 'RYU': 5}

nested list : 실습코드 인용 - Chapter 3, Python for Data Analysis(2nd Ed.)

In [52]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
           ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

문제: 영어, 스페인어 이름에 'e'가 2개 이상 포함된 이름을 구해보자

In [74]:
name_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e')>=2]
    name_of_interest.extend(enough_es)
name_of_interest

['Steven']

아래처럼 하나의 문장으로 압축해서 나타낼 수 있음. 
- 첫 번째 for문의 names가 이어서 나오는 두 번째 for문에서 사용됨.

In [75]:
result = [[name for names in all_data for name in names if name.count('e')>=2]]
result

[['Steven']]

문제: tuple 3개를 원소로 갖는 리스트를 단순 리스트로 변환해보자

In [77]:
list_of_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [78]:
simple_list = [x for tup in list_of_tuples for x in tup]
simple_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
simple_list = []
for tup in list_of_tuples:
    for x in tup:
        simple_list.append(x)
simple_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

문제: 위 코드(simple_list)와 아래 코드(other_list) 차이점은 무엇일까?

In [80]:
other_list = [[x for x in tup] for tup in list_of_tuples]
other_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]